body{
    font-family:bold;
    margin:0;
}
header{
    background:bisque;
    text-align: center;
    padding:10px 0;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display:inline;
    margin: 0 15px;

}
nav ul li a{
    text-decoration: none;
    color: blueviolet;
    padding: 1px;
}
nav ul li a:hover{
    color: aliceblue;
    background-color:orangered;
}
main{
    width:60%;
    margin:10px auto;
}
section{
    border:1px solid plum;
    margin: bottom 10px;
    padding:10px;
    box-shadow:2px 2px 5px plum;

}
h2{
    color: brown;
}
h3{
    color:blue ;
}
.safari{
    border:1px solid pink;
    border-radius:5px;
    margin-bottom:10px;
    padding:10px;
    box-shadow:2px 2px 5px blueviolet;
}
footer{
    background-color:lightslategray;
    text-align: center;
    padding:10px;
    color:black;
}